body {
    height: 99vh;
}
.about-container {
    width: 100%;
    height: 70vh;

    display: flex;
    align-items: justify;
    padding: 0px 50px;
}
.component-container {
    align-items: justify;
    display: flex;  
    width: 100%;
    margin-top: 10%;
}
.image-container{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.text-container {
    text-align: justify;
    width: 100%;
    
}
.text-container h1 {
    margin-left: 50px;
}
.text-container p {
    text-align: justify;
    font-size:  15px;
    margin: 20px 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer {
    position: fixed;
}