<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-DWyHuUu78l9UdTiIeBfgHJj+jl5/JKqwKvI3wlXC9Ttcrj1uRdYvB3L0azjXrcpVe/DWjJh9CZ2d0tFrJz6tvw==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xL3fHXbKri6p8eYgMHS4jDK+O5xZb6L0MqmWbx1UObB5Z7P/gRhbFFJ02k21WucfGM2O2LsVOjW/DkiHQEI3zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xL3fHXbKri6p8eYgMHS4jDK+O5xZb6L0MqmWbx1UObB5Z7P/gRhbFFJ02k21WucfGM2O2LsVOjW/DkiHQEI3zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/background.css">
    <link rel="stylesheet" href="../styles/categories.css">
    <link rel="stylesheet" href="../styles/airdrops.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="about.css">
    <link rel="icon" type="image/png" href="assets/airdrop-images/OIG2.jpg" />
    <title>Home/AboutUs</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul class="logo">RSL</ul>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#" style="cursor: not-allowed;">Airdrops</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><a href="">Work with us</a></li>
            </ul>
        </div>
    </div>
    <div class="about-container">
        <div class="component-container">
            <div class="image-container">
                <img src="../assets/airdrop-images/Forex-vs.-Stock-Trading-which-one-you-should-do.jpg" alt="">
            </div>
            <div class="text-container">
                <h1>RSL CONNECT</h1>
                <p>RSL Connect serves as your portal to the vast array of experiences available in the Imaginary World. This platform provides a distinct space for tracking your development within the Imaginary Ones ecosystem, participating in unique experiences, and discovering an all-encompassing marketplace.</p>
                <p>User gets a Bubble ID, which acts as your key to unlocking the wonders of the Imaginary World. Bubble ID grows with you as you partake in various activities, enriching your adventure alongside the Imaginary Ones.</p>
                <p>Designed to blend seamlessly into your everyday life, Bubble Connect bridges your digital and physical realms with ease, prioritizing convenience and a fluid user experience.</p>
                <p>A key goal of Imaginary Ones is to pioneer decentralized governance, aiming to nurture the growth and independence of its intellectual property. This initiative seeks to establish a cohesive network that connects consumers, the community, and corporations.</p>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <ul>
            <li><i class="fab fa-facebook" onclick="window.location.href ='https://www.facebook.com/resly.kadiri/'" ></i></li>
            <li><i class="fab fa-instagram" onclick="window.location.href ='https://www.instagram.com/qr_quode/'"></i></li>
            <li><i class="fab fa-twitter" onclick="window.location.href ='https://twitter.com/HahaMahir'"></i></li>
        </ul>
       

    </div>
</body>
</html>