<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-DWyHuUu78l9UdTiIeBfgHJj+jl5/JKqwKvI3wlXC9Ttcrj1uRdYvB3L0azjXrcpVe/DWjJh9CZ2d0tFrJz6tvw==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xL3fHXbKri6p8eYgMHS4jDK+O5xZb6L0MqmWbx1UObB5Z7P/gRhbFFJ02k21WucfGM2O2LsVOjW/DkiHQEI3zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xL3fHXbKri6p8eYgMHS4jDK+O5xZb6L0MqmWbx1UObB5Z7P/gRhbFFJ02k21WucfGM2O2LsVOjW/DkiHQEI3zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/background.css">
    <link rel="stylesheet" href="../styles/categories.css">
    <link rel="stylesheet" href="../styles/airdrops.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="about.css">
    <link rel="icon" type="image/png" href="assets/airdrop-images/OIG2.jpg" />
    <title>Home/AboutUs</title>
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul class="logo">RSL</ul>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#" style="cursor: not-allowed;">Airdrops</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><a href="">Work with us</a></li>
            </ul>
        </div>
    </div>
    <div class="about-container">
        <div class="component-container">
            <div class="image-container">
                <img src="../assets/airdrop-images/Forex-vs.-Stock-Trading-which-one-you-should-do.jpg" alt="">
            </div>
            <div class="text-container">
                <h1>RSL CONNECT</h1>
                <p>RSL Connect serves as your portal to effortless access to a multitude of Airdrops in the Imaginary World. Our platform offers a dedicated space for tracking your progress within the Airdrop ecosystem, participating in exclusive opportunities, and exploring a diverse marketplace.</p>
                <p>Crafted to seamlessly integrate into your daily routine, RSL Connect effortlessly bridges the gap between your digital and physical realms, prioritizing convenience and a seamless user experience.</p>
                <p>Join us on RSL Connect and take on an adventure like no other in the Airdrop World!</p>
                
            </div>
        </div>
    </div>
    
    <div class="footer">
        <ul>
            <li><i class="fab fa-facebook" onclick="window.location.href ='https://www.facebook.com/resly.kadiri/'" ></i></li>
            <li><i class="fab fa-instagram" onclick="window.location.href ='https://www.instagram.com/qr_quode/'"></i></li>
            <li><i class="fab fa-twitter" onclick="window.location.href ='https://twitter.com/HahaMahir'"></i></li>
        </ul>
       

    </div>
</body>
</html>