.airdrop-container {
    margin-top: 50px;
    margin-bottom: 300px;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
    opacity: 0;
   
}
#allBtn {
    background-color: white;
    color: black;
}
.airdrop-item {
    /* Background color for grid items */
    padding: 5px; /* Padding around grid items */
    height: 300px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, #262935, #491926);
    overflow: hidden;
    border-radius: 3px;
    transition: 500ms;
    
}
.airdrop-item:hover {
    transform: scale(1.03);
    border: green solid 1px;
    cursor: pointer;
    transition: 500ms;
}
.airdrop-item:active {
    opacity: 0.3;
   
}
.airdrop-item img {
    max-width: 100%; /* Set maximum width to 100% of the grid item */
    max-height: 100%; /* Set maximum height to 100% of the grid item */
    object-fit: contain; /* Ensure the image fits inside the grid item */
    display: block; /* Prevents extra space below image */
}
.text {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* Category color */
.active {
    background-color: #ffffff; /* Set the desired background color for the active category button */
}