@media only screen and (max-width: 768px) {
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: black;
        background-color: black;
    }
    .navbar {
        margin: 0;
        width: 100%;
        position: relative;
        left: 0;
        height: 7.5vh;
        border-radius: 0;
        position: fixed;
        top: 0;
        border: none;
        background:linear-gradient(115deg, #b30938, #262935) ;

    }
    .airdrop-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 150px;
        
    }
    .airdrop-item {
        width: 95%;
        
    }
    .airdrop-item:hover {
        transform: scale(0.97);
    }
    .text {
        background-color: hsla(0, 0%, 0%, 0.247);
    }


    .airdrop-item img {
        max-width: 100%; /* Set maximum width to 100% of the grid item */
        max-height: 190px; /* Set maximum height to 100% of the grid item */
        object-fit: cover; /* Ensure the image fits inside the grid item */
        display: block; /* Prevents extra space below image */
    }
    .airdrop-item-img-container {
        width: 100%;
        max-width: 100%; /* Ensures image doesn't exceed the width of its container */
        max-height: 100%; /* Ensures image doesn't exceed the height of its container */
        overflow: hidden; /* Hides any parts of the image that exceed the container's dimensions */
        
    }   
    
    .airdrop-item-img-container img {
        width: 100%; /* Makes the image fill the entire width of its container */
        height: auto; /* Allows the image's height to adjust proportionally */
    }

    .categories {
        display: none;
    }
    .category-container {
        display: flex;
        width: 100%;
        gap: 0;
        margin-top: 90px;
        justify-content: stretch;
        
    }
    .category-container button {
        padding: 10px 20px;
    }
    .footer {
        margin: 0;
        
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-right: 300px;
        background-color: black;
        align-items: center;
        padding-left: 200px;
        
    }


    /* For the about page */
    .about-container {
        display: block;
        margin-top: 20%;
        padding: 0px 0px;
        
    }
    .component-container {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
    }
    .image-container {
        display: none;
        height: 100vh;
    }
    
    #loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999; /* Ensure the loading element appears on top of other content */
    }
}